<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        form{
            max-width: 80%;
            margin: 50px auto;
        }
        #content{
            margin-top: 0;
            margin-bottom: 0;
            height: 500px;
        }
        #update {
            padding: 15px 30px;
            margin-top: 30px;
            float: right;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<form id="form" action="/join" method="post">
    <fieldset>
        <legend>글쓰기</legend>


        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control inputs" id="id" name="writer" aria-describedby="idHelp"
                   disabled th:value="${session.member.id}">
            <small id="idHelp" class="form-text text-muted help"><p></p></small>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control inputs" id="title" name="title" th:value="${notice.title}">
            <small id="titleHelp"  class="form-text text-muted help"><p></p></small>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3" th:text="${notice.content}"></textarea>
        </div>


        <button type="button" class="btn btn-primary" id="update">수정</button>
    </fieldset>
</form>


</body>
</html>