<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<!--기본 셋팅.. -->
<div class="container p-3 my-3 border">
    <div class="row">
        <div class="col-sm-8 p-2" style="background-color:lavender; text-align: left; border:  1px red solid ;">아이디
        </div>
        <div class="col-sm-4 p-2" style="background-color:lavenderblush; text-align: right; border:  1px solid red;">
            <i class='far fa-eye'> 33</i>
            <span class="badge badge-pill badge-primary">2020/02/08</span>
        </div>
        <div class="col-sm-12 pl-2 pb-0" style="background-color:#ffb0d3; ">
            <div class="col-sm-12">num</div>
            <div class="col-sm-12"><h2>제목</h2></div>
        </div>
        <div class="col-sm-12" style="background-color:lavender; text-align: left; height: 300px; ">
            <hr/>
            내용
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 d-flex" style="background-color:#ffb0d3;">
            <button type="button" class="btn btn-primary mr-2" id="update">수정</button>
            <button type="button" class="btn btn-primary" id="delete">삭제</button>
            <button type="button" class="btn btn-primary ml-auto" id="list">목록</button>
        </div>

    </div>

    <div class="row pt-4">
        <div class="col-sm-12 p-2" style="background-color:lavender; text-align: left; border:  1px red solid ;">댓글</div>

        <!--댓글이 생기면 아작스로 가져오면 될 거같다-->
        <div class="col-sm-12 pl-2 pb-0" style="background-color:#ffb0d3; ">
            <div class="col-sm-12">아이디</div>
            <div class="col-sm-12"><span class="badge badge-pill badge-primary">2020/02/08</span></div>
        </div>
        <div class="col-sm-12" style="background-color:lavender; text-align: left; height: 300px; ">내용</div>

        <!--댓글 입력창 -->
        <div class="col-sm-12 pl-2 pb-0 " style="background-color:#ffb0d3; ">
            <div class="col-sm-12" style="background-color:#99abff;">아이디</div>
        </div>
        <div class="col-sm-10" style="background-color:lavenderblush;">
            <form id="form" action="/" method="post">
                <input type="hidden" value="id">
                <label for="content"></label>
                <textarea class="" id="content" name="content" placeholder="댓글달기"
                          style="height: 100px; width: 100%;"></textarea>
            </form>
        </div>
        <div class="col-sm-2 pt-5 pr-md-0" style="background-color:#94ff8b;">
            <button type="button" class="btn btn-primary ml-auto" id="insert">등록</button>
        </div>


    </div>


</div>


</body>
</html>