<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js">
 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            min-width: 50%;
            margin: 50px 0;
        }

        .pager {
            margin: auto;
            width: max-content;
            clear: both;
        }

        .divTable {

            max-width: 80%;
            margin: auto;
        }

        #write {
            float: right;
        }

        a:hover {

        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        $(function () {

            $('#insert').on('click', function () {

                location.href = '/notice/write';

            });


        });
    </script>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="divTable">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Num</th>
            <th scope="col">Writer</th>
            <th scope="col">Title</th>
            <th scope="col">hit</th>
            <th scope="col">createdDate</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" th:each="board1 : ${notice}">
            <th scope="row" th:text="${board1.num}"></th>
            <td th:text="${board1.writer}"></td>
            <td><a th:href="@{/notice/one(num=${board1.num})}">
              <span th:text="${board1.title}"></span>
            </a></td>
            <td th:text="${board1.hit}"></td>
            <td th:text="${board1.createdDate}"></td>

        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" id="insert">글쓰기</button>
</div>
<div class="pager">
    <ul class="pagination pagination-sm">
        <li class="page-item" th:if="${pager.prev}==true">
            <a class="page-link" th:href="@{/notice/list(page=${pager.startPage}-1,perPageNum=${pager.perPageNum})}">&laquo;</a>
        </li>
        <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pager.startPage, pager.endPage)}"
            th:classappend="${pager.page} == ${idx} ? active : null">
            <a class="page-link" th:href="@{/notice/list(page=${idx},perPageNum=${pager.perPageNum})}"
               th:text="${idx}"></a>
        </li>
        <li class="page-item" th:if="${pager.next}==true and ${pager.endPage >0}">
            <a class="page-link" th:href="@{/notice/list(page=${pager.endPage}+1,perPageNum=${pager.perPageNum})}">&raquo;</a>
        </li>
    </ul>
</div>

</body>
</html>