<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        table{
            min-width: 50%;
            margin: 50px 0;
        }
        .pager{
          margin: auto;
          width: max-content;
            clear: both;
        }
        .divTable{

            max-width: 80%;
            margin: auto;
        }
        #insert{
            float: right;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> <font style="vertical-align : inherit;"> <font style="vertical-align : inherit;">
        Woom </font> </font> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="탐색 ">
        <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <font style="vertical-align : inherit;"> <font
                        style="vertical-align : inherit;"> 홈 </font> </font> <span class="sr-only"> <font
                        style="vertical-align : inherit;"> <font style="vertical-align : inherit;"> (현재) </font> </font> </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <font style="vertical-align : inherit;"> <font
                        style="vertical-align : inherit;"> 풍모 </font> </font> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <font style="vertical-align : inherit;"> <font
                        style="vertical-align : inherit;"> 가격 </font> </font> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <font style="vertical-align : inherit;"> <font
                        style="vertical-align : inherit;"> 약 </font> </font> </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" 자리 표시 자="검색">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align : inherit;"> <font
                    style="vertical-align : inherit;"> 검색 </font> </font></button>
        </form>
    </div>
</nav>
<div class="divTable">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Num</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-primary">
        <th scope="row">1</th>
        <td>member1</td>
        <td>iu</td>
        <td>서울 서대문구 홍제동 321-1</td>
        <td>010-0000-0000</td>
        <td>ssinga1@naver.com</td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" id="insert">글쓰기</button>
</div>
<div class="pager">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>

</body>
</html>