<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            var num = [[${notice.num}]];
            $('#delete').on('click', function () {
                var leave = confirm("정말 삭제하시겠습니까?");
                if (leave) {
                    console.log('leave')
                    location.href = '/notice/delete?num=' + num;
                }
            });

            $('#update').on('click', function () {
                location.href = '/notice/modify?num=' + num;
            });


            $('#list').on('click', function () {
                location.href = '/notice/list';
            });
        })

        /*]]>*/
    </script>
    <style>
        #commentList{
            padding: 0;
            border-left: black solid 1px;
            border-right: black solid 1px;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>

<!--기본 셋팅.. -->
<div class="container p-3 my-3 border" >
    <div class="row" style="border: black solid 1px">
        <div class="col-sm-8 p-2" style="background-color:lavender; text-align: left; "
             th:text="${notice.writer}">
        </div>
        <div class="col-sm-4 p-2" style="background-color:lavender; text-align: right; ">
            <i class='far fa-eye' th:text="${notice.hit}"></i>
            <span class="badge badge-pill badge-primary" th:text="${notice.lastModifiedDate}"></span>
        </div>
        <div class="col-sm-12 pl-2 pb-0" style="background-color:lavender;">
            <div class="col-sm-12" th:text="${notice.num}"></div>
            <div class="col-sm-12"><h2 th:text="${notice.title}"></h2></div>
        </div>
        <div class="col-sm-12" style="background-color:lavender; text-align: left; height: 300px; "
             th:text="${notice.content}">
            <hr/>
        </div>
    </div>

<!--버튼-->
    <div class="row" >
        <div class="col-sm-12 d-flex" style="background-color:lavender;" th:if="${session.member !=null}">
            <button type="button" class="btn mr-2" id="update"
                    th:if="${notice.writer.equals(session.member.id)}">수정
            </button>
            <button type="button" class="btn" id="delete"
                    th:if="${notice.writer.equals(session.member.id)}">삭제
            </button>
            <button type="button" class="btn ml-auto" id="list">목록</button>
        </div>

    </div>

    <div class="row pt-4">
        <div class="col-sm-12 p-2" style="text-align: left; border:  1px black solid ;">댓글</div>

        <!--댓글 창 ,,,댓글이 생기면 아작스로 가져오면 될 거같다-->
        <div class="col-sm-12 pl-0 pb-0" id="commentList" >
            <div class="col-sm-12 commentArea" >
                <div class="col-sm-12">+value.writer</div>
                <div class="col-sm-12 d-inline commentInfo'+value.cnum+'" >'+'댓글번호 : '+value.cnum
                    <span class="badge badge-pill badge-dark">'+value.reg_date+'</span></div>
               <div class="col-sm-1 d-inline btn" >
                   <a  onclick="commentUpdate('+value.cnum+',\''+value.content+'\');" > <i class='fas fa-edit'></i> 수정</a></div>
                <div class="col-sm-1 d-inline btn" >
                    <a onclick="commentDelete('+value.cnum+')"><i class='far fa-trash-alt'></i> </a> 삭제</div>
            </div>
            <div class="col-sm-12 commentContent'+value.cnum+'" style="border-bottom: black solid 1px"> <p> 내용 : '+value.content +'</p></div>
        </div>
    </div>

    <!--댓글 입력창 -->
    <div class="row" th:if="${session.member !=null}" style="border: black solid 1px;">
        <div class="col-sm-12 pl-2 pb-0 " style="background-color:lavenderblush; ">

            <div class="col-sm-12" th:text="${session.member.id}"></div>
        </div>
        <div class="col-sm-10" style="background-color:lavenderblush;">
            <form id="form" method="post">
                <input type="hidden" name="writer" th:value="${session.member.id}">
                <input type="hidden" name="bNum" th:value="${notice.num}">
                <label for="content"></label>
                <textarea class="" id="content" name="content" placeholder="댓글달기"
                          style="height: 100px; width: 100%;"></textarea>
            </form>
        </div>
        <div class="col-sm-2 pt-5 pr-md-0" style="background-color:lavenderblush;">
            <button type="button" class="btn btn-outline-dark  ml-auto" id="write">등록</button>
        </div>
    </div>
    <div class="row" th:unless="${session.member !=null}">
        <div class="col-sm-12 pl-2 pb-0" style="background-color:lavenderblush; ">

            <div class="col-sm-12" style="text-align: center;"><a
                    th:href="@{/member/login}"><span
                    th:text="로그인"></span></a>해야 댓글을 달 수 있습니다.
            </div>
        </div>
    </div>
           <div th:include="board/commet :: commet"></div>

</div>


</body>
</html>