<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>

    </script>
    <style>
        form{

            margin: 50px auto;
            width: max-content;

        }

       .inputs{
           min-width: 400px;

        }

        #join{
            margin-top: 30px;
            float: right;
        }
    </style>
</head>
<body>
<nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> Woom </font> </font> </a>
    <button class = "navbar-toggler"type = "button"data-toggle = "collapse"data-target = "# navbarColor01"aria-controls = "navbarColor01"aria-expanded = "false"aria-label = "탐색 ">
        <span class = "navbar-toggler-icon"> </span>
    </button>

    <div class = "collapse navbar-collapse"id = "navbarColor01">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item active">
                <a class="nav-link" href="#"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 홈 </font> </font> <span class = "sr-only"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> (현재) </font> </font> </span > </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="#"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 풍모 </font> </font> </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="#"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 가격 </font> </font> </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="#"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 약 </font> </font> </a>
            </li>
        </ul>
        <form class = "form-inline my-2 my-lg-0">
            <input class = "form-control mr-sm-2"type = "text"자리 표시 자 = "검색">
            <button class = "btn btn-secondary my-2 my-sm-0"type = "submit"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 검색 </font> </font> </button>
        </form>
    </div>
</nav>
<form action="/join" method="post">
    <fieldset>
        <legend>회원가입</legend>

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control inputs" id="id" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="idHelp" class="form-text text-muted">hjkhjk</small>
        </div>
        <div class="form-group">
            <label for="pw">Password</label>
            <input type="password" class="form-control inputs" id="pw" placeholder="Password">
            <small id="pwHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="pw2">Password reconfirm</label>
            <input type="password" class="form-control inputs" id="pw2" placeholder="Password">
            <small id="pw2Help" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control inputs" id="name" placeholder="Password">
            <small id="namelHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control inputs" id="address" placeholder="Password">
            <small id="addresslHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control inputs" id="phone" placeholder="Password">
            <small id="phoneHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control inputs" id="email" placeholder="Password">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>


        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Man
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Woman
            </label>
        </div>


        <button type="submit" class="btn btn-primary" id="join">JOIN</button>
    </fieldset>
</form>


</body>
</html>