
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>member Form</title>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('#update').on('click',function () {
                location.href='/member/modify'
            })
            $('#pwUpdate').on('click',function () {
                location.href='/member/modify'
            })
            $('#delete').on('click',function () {
                location.href='/member/delete'
            })
        })
    </script>
    <style>
        form {
            margin: 50px auto;
            width: max-content;
        }

        .inputs {
            min-width: 400px;
        }

        #join {
            margin-top: 30px;
            float: right;
        }

        .help p {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>



<form id="form" action="/join" method="post">
    <fieldset>
        <legend>회원수정</legend>
            <input type="hidden" name="num" th:value="${session.member.num}" disabled>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control inputs" id="id" name="id" aria-describedby="idHelp"
        disabled th:value="${session.member.id}">
            <small id="idHelp" class="form-text text-muted help"><p></p></small>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control inputs" id="name" name="name" disabled th:value="${session.member.name}" >
            <small id="namelHelp" class="form-text text-muted help"><p></p></small>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control inputs" id="address" name="address" disabled th:value="${session.member.address}">
            <small id="addresslHelp" class="form-text text-muted help"><p></p></small>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control inputs" id="phone" name="phone" disabled th:value="${session.member.phone}">
            <small id="phoneHelp" class="form-text text-muted help"><p></p></small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control inputs" id="email" name="email"  disabled th:value="${session.member.email}">
            <small id="emailHelp" class="form-text text-muted help"><p></p></small>
        </div>

        <button type="button" class="btn btn-primary" id="update">정보 수정</button>
        <button type="button" class="btn btn-primary" id="pwUpdate">비번 수정</button>
        <button type="button" class="btn btn-primary" id="delete">회원 탈퇴</button>
    </fieldset>
</form>
</body>
</html>