<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member Form</title>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        form {
            margin: 50px auto;
            width: max-content;
        }

        .inputs {
            min-width: 500px;
        }

        p {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function () {
            var checkPw = true;
            var checkPw2 = true;

            $('#pw').on('blur', function () {
                var regExpPw = /^(?=.*\d{1,50})(?=.*[~`!@#$%\^&*()-+=]{1,50})(?=.*[a-zA-Z]{2,50}).{8,50}$/;
                console.log('111111111');
                if (!regExpPw.test($('#pw').val())) {

                    $('#pwHelp p').text('8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.');
                    checkPw = false;
                    console.log('2222222222');
                    return false;
                } else {

                    $('#pwHelp p').text('사용가능한 비밀번호입니다.');
                    checkPw = true;
                    console.log('3333333333');

                }
            });

            $('#pw2').on('blur', function () {
                if ($('#pw').val() !== $('#pw2').val()) {
                    $('#pw2Help p').text('비밀번호가 일치하지 않습니다.');
                    checkPw2 = false;

                    return false;
                } else {
                    $('#pw2Help p').text('');
                    checkPw2 = true;


                }

            });

            $('#update').on('click', function () {
                if (checkPw && checkPw2) {
                    console.log('ok');
                    $('#form').submit();
                    return;
                }
                console.log('no');
            });

        })
    </script>

</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<form id="form" action="/member/modifyPw" method="post">
    <fieldset>
        <legend>비밀번호</legend>
        <input type="text" readonly name="id" th:value="${session.member.id}">

        <div class="form-group">
            <label for="pw">새로운 비밀번호</label>
            <input type="password" class="form-control inputs" id="pw" name="pw">
            <small id="pwHelp" class="form-text text-muted help"><p></p></small>
        </div>
        <div class="form-group">
            <label for="pw2">비밀번호 재확인</label>
            <input type="password" class="form-control inputs" id="pw2" name="pw2">
            <small id="pw2Help" class="form-text text-muted help"><p></p></small>
        </div>


        <button type="button" class="btn btn-primary" id="update">확인</button>
    </fieldset>
</form>
</body>
</html>