<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    마지막에 변경
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/JavaScript" href="js/bootstrap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
            max-width: 80%;
            margin: 50px auto;
        }

        .pager {
            margin: auto;
            width: max-content;
        }
    </style>
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Num</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Join_date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-primary" th:each="member : ${list}">
        <th scope="row" th:text="${member.num}"></th>
        <td th:text=""></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.address}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.gender}"></td>
        <td th:text="${member.join_date}"></td>
    </tr>
    </tbody>
</table>
<div class="pager">
    <ul class="pagination pagination-sm">
        <li class="page-item" th:if="${pager.prev}==true">
            <a class="page-link" th:href="@{/member/list(page=${pager.startPage}-1,perPageNum=${pager.perPageNum})}">&laquo;</a>
        </li>
        <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pager.startPage, pager.endPage)}" th:classappend="${pager.page} == ${idx} ? active : null">
            <a class="page-link" th:href="@{/member/list(page=${idx},perPageNum=${pager.perPageNum})}" th:text="${idx}"></a>
        </li>
        <li class="page-item" th:if="${pager.next}==true and ${pager.endPage >0}">
            <a class="page-link" th:href="@{/member/list(page=${pager.endPage}+1,perPageNum=${pager.perPageNum})}">&raquo;</a>
        </li>
    </ul>
</div>

</body>
</html>