<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mybatis_board.dao.MembersDao">

    <select id="seq" resultType="java.lang.Integer">
        select get_seq('member')
    </select>
    <insert id="join" parameterType="membersDto">
        insert into members values(#{num},#{id},#{pw},#{name},#{address},#{phone},
        #{email},#{gender},#{join_date})
    </insert>
    <select id="findOne" parameterType="java.lang.String" resultType="membersDto">
        select * from members where id=#{id}
    </select>

    <select id="findAll" parameterType="PageMaker" resultType="membersDto">
        select * from members order by num desc limit #{pageStart},#{perPageNum}
    </select>

    <update id="modify" parameterType="membersDto">
        update members set address=#{address}, phone=#{phone}, email=#{email} where id=#{id}
    </update>

    <update id="modifyPw" parameterType="membersDto">
        update members set pw=#{pw} where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from members where id=#{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        select count(num) from members
    </select>

    <select id="findById" parameterType="java.lang.String" resultType="java.lang.String">
        select id from members where id=#{id}
    </select>

    <select id="login" parameterType="membersDto" resultType="membersDto">
        select * from members where id=#{id} and pw=#{pw}
    </select>

    <select id="pwCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(id) from members where id=#{id} and pw=#{pw}
    </select>



</mapper>