<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head><title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/basic.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>

</script>

</head>
<body>
<nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> WoomShop </font> </font> </a>
    <button class = "navbar-toggler"type = "button"data-toggle = "collapse"data-target = "# navbarColor01"aria-controls = "navbarColor01"aria-expanded = "false"aria-label = "탐색 ">
        <span class = "navbar-toggler-icon"> </span>
    </button>

    <div class = "collapse navbar-collapse"id = "navbarColor01">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item active">
                <a class="nav-link" href="/"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 홈 </font> </font> <span class = "sr-only"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> (현재) </font> </font> </span > </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="board/list"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 게시판 </font> </font> </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="/member/one"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 회원 </font> </font> </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="/member/login"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 가입 </font> </font> </a>
            </li>
        </ul>
        <form class = "form-inline my-2 my-lg-0">
            <input class = "form-control mr-sm-2"type = "text"자리 표시 자 = "검색">
            <button class = "btn btn-secondary my-2 my-sm-0"type = "submit"> <font style = "vertical-align : inherit;"> <font style = "vertical-align : inherit;"> 검색 </font> </font> </button>
        </form>
    </div>
</nav>



</body>
</html>